@import "../../styles/variables";
@import "../../styles/animation";

.dropdown {
  &__button {
    width: 100%;
    height: 52px;
    border-radius: 5px;
    background-color: $primary-red;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    cursor: pointer;
    border: none;
    outline: none;
    position: relative;
    z-index: 2;
  }
  &__icon {
    width: 24px;
  }
  &__wrapper {
    overflow: hidden;
    background-color: $gallery-background;
  }
  &__content {
    width: 100%;
    position: relative;
    z-index: 1;
  }

  // Media queries

  @media (max-width: 780px) {
    &__icon {
      width: 20px;
    }
  }

  @media (max-width: 480px) {
    &__icon {
      width: 16px;
    }
  }
}
