@import "../../../styles/_dropdown-menu.scss";

.dropdown-about {
  width: 82%;
  margin: 0 auto;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
