.dropdown {
  &__icon {
    transition: transform 0.3s ease-out;
    &--open {
      transform: rotate(-180deg);
    }
  }
  &__content {
    max-height: 0;
    transform: translateY(-100px);
    opacity: 0;
    visibility: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
    &--inner {
      padding: 30px;
    }
    &--open {
      max-height: 300px;
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }
  }

  // Media queries

  @media (max-width: 1080px) {
    &__content {
      &--inner {
        padding: 25px;
      }
    }
  }

  @media (max-width: 780px) {
    &__content {
      &--inner {
        padding: 20px;
      }
    }
  }

  @media (max-width: 480px) {
    &__content {
      &--inner {
        padding: 15px;
      }
    }
  }
}