// Colors
$primary-red: #ff6060;
$text-primary: #000000;
$background-primary: #ffffff;
$gallery-background: #f6f6f6;

// Font weights
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Font sizes
$font-size-xs: 6px; // Extra small
$font-size-sm: 8px; // Small
$font-size-sm-md: 10px; // Small medium
$font-size-sm-lg: 12px; // Small large
$font-size-md: 14px; // Medium
$font-size-md-lg: 16px; // Medium large
$font-size-lg: 18px; // Large
$font-size-xl: 24px; // Extra large
$font-size-2xl: 28px; // 2X large
$font-size-3xl: 36px; // 3X large
$font-size-4xl: 48px; // 4X large
$font-size-5xl: 96px; // 5X large
$font-size-6xl: 180px; // 6X large
$font-size-7xl: 288px; // 7X large
