@import "../../styles/variables";

.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 100px;
  &__title {
    font-size: $font-size-7xl;
    font-weight: $font-weight-bold;
    color: $primary-red;
    margin-bottom: 70px;
  }
  &__text {
    font-size: $font-size-3xl;
    font-weight: $font-weight-medium;
    color: $primary-red;
    margin-bottom: 150px;
    text-align: center;
  }
  &__link {
    font-size: $font-size-lg;
    font-weight: $font-weight-medium;
    color: #000;
    margin-bottom: 150px;
    border-bottom: 1px solid #000;
  }
  &__break {
    display: none;
  }

  // Media queries

  @media (max-width: 1080px) {
    &__break {
      display: block;
    }
  }

  @media (max-width: 780px) {
    &__title {
      font-size: $font-size-6xl;
    }
    &__text {
      font-size: $font-size-xl;
    }
  }

  @media (max-width: 480px) {
    &__title {
      font-size: $font-size-5xl;
    }
    &__text {
      font-size: $font-size-lg;
    }
    &__link {
      font-size: $font-size-md;
    }
  }
}
